<!-- Start: Swipe Slider 7 --><!-- Paradise Slider -->
<div id="fw_al_001" class="carousel slide ps_slide_y ps_indicators_y swipe_y ps_easeOutQuint" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2500">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#fw_al_001" data-slide-to="0" class="active"></li>
        <li data-target="#fw_al_001" data-slide-to="1"></li>
        <li data-target="#fw_al_001" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper For Slides -->
    <div class="carousel-inner" role="listbox">

        <!-- First Slide -->
        <div class="carousel-item active">

            <!-- Slide Background -->
            <img src="/assets/img/travel.jpg" alt="fw_al_001_01">
            <img src="/assets/img/travel2.jpg" alt="fw_al_001_01">

            <!-- Slide Text Layer -->
            <div class="fw_al_001_slide">
                <h3 data-animation="animated fadeInUp">HELLO WORLD</h3>
                <img data-animation="animated fadeInUp" src="/assets/img/traveltailorwhite.png" alt="travel tailor logo" height="200rem">
                {{!-- <h1 data-animation="animated fadeInUp">TIME TO TRAVEL</h1> --}}
                <p data-animation="animated fadeInUp">Travel is easy with TravelTailor!</p>
                <a href="/signup" data-animation="animated fadeInUp">Singup</a>
            </div>
        </div>
        <!-- End of Slide -->





    </div>
    <!-- End of Wrapper For Slides -->

</div>
<!-- End Paradise Slider -->