  <h1>Search info of a City</h1>
<hr>

<form action="/travels/results" method="POST">
  <label for="city">City</label>
  <input type="text" name="city" id="city" placeholder="Madrid">
  <button type="submit">Search</button>
</form>





